#content {
  width: auto;
  min-height: 300px;
  padding-left: 10 px;
  margin: 0 px;
}

a {
  font-family: helvetica;
  text-indent: 0px;
  mergin-left: 40px;
  color: red;
}

button {
  margin-left: 40px;
  padding: 40px;
  font-size: 16px;
  background-color: Coral;
  color: pink;
}

form {
  margin-left: 0px;
  padding: 40px;
}

#output {
  margin: 30px;
  border-style: double;
  border-radius: 20px;
  border-color: white;
  width: 300px;
}
